{erl_opts, [debug_info]}.
{deps, [{amqp_client,"3.8.11"},
         {rabbit_common,"3.8.7"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [testrebar]}
]}.

{escript_incl_apps,
 [testrebar]}.
{escript_main_app, testrebar}.
{escript_name, testrebar_app}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
